<div id="about-me-page" class="about-me-page">
    <div class="about">
        <div class="left">
            <h1 class="title">
                About Me
            </h1>
            <p class="bio">
                Hello! I'm Jack, a Sofware Developer and CS Student studying at UC Irvine. 
            </p>
            <p class="bio">
                I got my start in programming in 2019 when I took AP Computer Science and dual enrolled 
                in a Web Design Class at my local community college. I've continued to pursue computer science
                and web development throughout college by participating in Hackathons, joining design clubs, interning at Google
                and working on projects such as this portfolio!
            </p>
            <p class="bio">
                Outside of programming, I enjoy staying active through weightlifting, cruising on my longboard, 
                watching anime and expanding my music taste.
            </p>
            <br>    

            <div class="contacts">
                <a href="https://www.linkedin.com/in/jack-lee-9b9036213/" target="_blank" class="linkedinlogo">
                    <img src="../../assets/imgs/linkedin.svg" alt="linkedinlogo" class="linkedinlogo">
                </a>

                <a href="mailto:jlee21369@gmail.com" class="emailicon">
                    <img src="../../assets/imgs/email-icon.svg" alt="emailicon" class="emailicon">
                </a>

                <a href="../../assets/resume.pdf" target="_blank" class="resumeicon">
                    <img src="../../assets/imgs/resume-icon.svg" alt="resumeicon" class="resumeicon">
                </a>
            </div>
        </div>
        <div class="right">
            <img src="../../assets/imgs/IMG_7895.JPG" alt="portrait" class="portrait">
        </div>
    </div>
    <app-infinite-strip class="logo-strip"></app-infinite-strip>
</div>