<div class="infinite-strip-page">
    <div class="strip-container">
        <!-- <p class="strip-title">
            Things I'm involved in
        </p> -->
        <div class="logo-strip">
            <div class="logo-container">
                <a href="https://buildyourfuture.withgoogle.com/programs/step" target="_blank" class="googleSTEPlink">
                    <img src="../../assets/imgs/google.png" alt="google" class="logo google">
                </a>
                <a href="https://la-hacks-2023.devpost.com/" target="_blank" class="lahackslink">
                    <img src="../../assets/imgs/lahacks.png" alt="lahacks" class="logo lahacks">
                </a>
                <a href="https://designatuci.com/" target="_blank" class="designatucilink">
                    <img src="../../assets/imgs/designatuci.png" alt="designatuci" class="logo designatuci">
                </a>
                <a href="https://www.hackthehood.org/" target="_blank" class="hackthehoodlink">
                    <img src="../../assets/imgs/hackthehood.png" alt="hackthehood" class="logo hackthehood">
                </a>
                <a href="https://buildyourfuture.withgoogle.com/programs/computer-science-summer-institute" target="_blank" class="googlecssilink">
                    <img src="../../assets/imgs/googlecssi.png" alt="googlecssi" class="logo googlecssi">
                </a>
                <a href="https://ics.uci.edu/" target="_blank" class="ucilink">
                    <img src="../../assets/imgs/ucilogo.png" alt="ucilogo" class="logo ucilogo">
                </a>
            </div>
    
            <div class="logo-container">
                <a href="https://buildyourfuture.withgoogle.com/programs/step" target="_blank" class="googleSTEPlink">
                    <img src="../../assets/imgs/google.png" alt="google" class="logo google">
                </a>
                <a href="https://la-hacks-2023.devpost.com/" target="_blank" class="lahackslink">
                    <img src="../../assets/imgs/lahacks.png" alt="lahacks" class="logo lahacks">
                </a>
                <a href="https://designatuci.com/" target="_blank" class="designatucilink">
                    <img src="../../assets/imgs/designatuci.png" alt="designatuci" class="logo designatuci">
                </a>
                <a href="https://www.hackthehood.org/" target="_blank" class="hackthehoodlink">
                    <img src="../../assets/imgs/hackthehood.png" alt="hackthehood" class="logo hackthehood">
                </a>
                <a href="https://buildyourfuture.withgoogle.com/programs/computer-science-summer-institute" target="_blank" class="googlecssilink">
                    <img src="../../assets/imgs/googlecssi.png" alt="googlecssi" class="logo googlecssi">
                </a>
                <a href="https://ics.uci.edu/" target="_blank" class="ucilink">
                    <img src="../../assets/imgs/ucilogo.png" alt="ucilogo" class="logo ucilogo">
                </a>
            </div>
        </div>
    </div>
</div>


