<!-- <div class="project-breakdown-container">
    <div class="project-breakdown" id="project-breakdown">
        <div class="overview">
            <h2 class="overview-title">
                Overview
            </h2>
            <p class=" text overview-text">
                asdfasdf asdf asdfadfasdf asdfasdfasd adsfadsfadfa dafasdfadsf asdfadsfa dsfa 
            </p>
        </div>
        <div class="objectives">
            <h2 class="objectives-title">
                Objectives
            </h2>
            <p class=" text objectives-text">
                asdfasdf asdf asdfadfasdf asdfasdfasd adsfadsfadfa dafasdfadsf asdfadsfa dsfa 
            </p>
        </div>
        <div class="development">
            <h2 class="development-title">
                Development
            </h2>
            <p class=" text development-text">
                asdfasdf asdf asdfadfasdf asdfasdfasd adsfadsfadfa dafasdfadsf asdfadsfa dsfa 
            </p>
        </div>
    </div>
</div> -->


<div class="project-breakdown-container" id="project-breakdown">
    <h1 class="placeholder">
        More Details Coming Soon
    </h1>
</div>
